{% extends "partials/base.html.twig" %}
{% block title %}Contact{% endblock %}

{% block content %}
    <h1><br>GET IN CONTACT</h1>
    <h2>Bookings -
        <a href="mailto:mammothtrax@live.co.uk?Subject=Booking Enquiry&Body=" title="title">mammothtrax@live.co.uk</a>
    </h2><br>
    <h1>FOR GENERAL ENQUIRIES</h1>
    <h2>
        <a href="mailto:antivibesofficial@gmail.com?Subject=General Enquiry&Body=" title="title">antivibesofficial@gmail.com</a>
    </h2>
{% endblock %}