html {
    margin: 20px auto;
    max-width: 1200px;
    font-family: 'Roboto Mono', monospace;
}
header {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;
    align-items: center;
    text-decoration: none;
}

.nav a{
    font-size: 16px;
    margin: 30px;
    /*padding: 0 30px;*/ 
    text-decoration: none;
    color:#000000;
}

.nav a:hover{
    color: #ffffff;
    background-color: #000000;
}

.socialmedia a{
    margin: 9px;
    font-size: 30px;
    text-decoration: none;
    color:#000000;
}

.socialmedia a:hover{
    color:#000000;
    opacity: 0.5;
}

.login a {
    text-decoration: none;
    color: #000000
}

.account {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.account a {
    text-decoration: none;
    color: #000000
}

.account a:hover{
    background-color: #000000;
    color: #ffffff;
}

form {
    margin: 0 auto;
    width: 210px;
    text-align: left;
}

input {
    text-align: center;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-size: 22px;
    outline: none;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}

.buttons {
    margin-top: -20px;
}

.wrappercontainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin: 10px 0;
    border: solid 3px #000000;
    outline: none;
}

.wrapper {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper:not(:last-child) {
    border-right: solid 2px #000000;
}

#so{
  
    top: 20px;
    left: 20px;
    border-bottom: solid;
    border-bottom-color: #000000;
    border-top: solid;
    border-top-color: #000000;
    outline: none;
}
  
#playSound{
    top: 200px;
    left: 20px;
    width: 20px;
    height: 20px;
    outline: none;
}
  
#stopSound{
  
    top: 200px;
    left: 50px;
    width: 20px;
    height: 20px;
    outline: none;
}

.playButton{
    background-color: #ffffff;
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(/images/play.png);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

.muteButton{
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    background-image: url(/images/speaker.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.muteButton:active,
.playButton:active {
    position: relative; 
    top:2px;
    outline: none;
}

.timebox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    white-space:nowrap;
    margin-bottom: 10px;
}

.progressBar{
    height: 20px;
    background-color: #fff;
    width: 120px;
}

progress::-moz-progress-bar,
progress::-moz-progress-bar{
    background: #000000;
}

table {
    margin: 0 auto;
    word-spacing: 4px;
    column-gap: 0px;
}

table a {
    text-decoration: none;
    color:#000000;
}

table a:hover{
    color: #ffffff;
    background-color: #000000;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 { 
    font-size: 25px;
    text-align: center;
}

h2 a{
    color: #000000;
    text-decoration: none;
}

h2 a:hover {
    background-color: #000000;
    color: #ffffff;
}

h3 {
    display:inline-block;
    background: #ffffff;
    text-align: center;
    color: #000000;
    font-size: 15px;
    white-space:nowrap;
    letter-spacing: 1px;
}

p {
    font-size: 40px;
    text-align: center;
}

.bottomimage {
    padding-bottom: 40px;
}

li {
    list-style-type: none;
    margin: 50px auto;
    width: 100%;
    float:center;
    font-size: 20px;
}

footer {
    text-align: center;
    bottom: 0;
    margin-top: 15px;
}

.socialmedia a{
    margin: 9px;
    font-size: 30px;
    text-decoration: none;
    color:#000000;
}

.socialmedia a:hover{
    color:#000000;
    opacity: 0.5;
}

.error {
    font-weight: bold;
    color: #FF0000;
    font-size: 15px;
}

.thead {
    border: 1px solid black;
}

th {
    background: #000000;
    color: #fff;
}

td {
    color: #000000;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.proceed {
    float: right;
}

select {
    background: #000000;
    color: #ffffff;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1em;
}

.grid-container > div{
    background: #eee;
    padding: 1em;
  }
.grid-container > div:nth-child(odd){
    background: #ddd;
}

