{% extends "partials/base.html.twig" %}
{% block title %}Buy{% endblock %}

{% block content %}
   <p>
        Anti-vibes delivering Face scrunching bass.<br><br> With a producer that you will find on page 140 of the beats per minute bible.<br><br>
        Made Dubstep and Hard House for about 3 or more years.<br><br>For bookings contact Mammoth Trax. Latest EP is available
        on iTunes.
    </p>
{% endblock %}
