{% extends "partials/base.html.twig" %}
{% block title %}account{% endblock %}

{% block content %}

<h1>Purchases</h1>

        <div class="grid-download">
            <div class="grid-header">Track Name</div>
            <div class="grid-header">Download</div>
        </div>

        <div class="download-row">
            <div class="row"></div>
            <div class="row"><i class="fa fa-download"></i></div>
        </div>

{% endblock %}
