{% extends "partials/base.html.twig" %}
{% block title %}Basket{% endblock %}

{% block content %}

        <div class="grid-basket">
            <div class="grid-header">Track Name</div>
            <div class="grid-header">Format</div>
            <div class="grid-header">Price</div>
        </div>

        {% if error %}
        <li>
        <span class="error">Product cannot be added</span>
        </li>
        {% endif %}


    <button class="proceed">Proceed to payment</button>

</table>

{% endblock %}
