{% extends "partials/base.html.twig" %}
{% block title %}Basket{% endblock %}

{% block content %}

        <div class="grid-basket">
            <div class="grid-header">Track Name</div>
            <div class="grid-header">Format</div>
            <div class="grid-header">Price</div>
            <div class="grid-header"></div>

        </div>

        {% for key, item in session.basket %}
            <div class="basket-row">
                <div class="row">{{ item.name }}</div>
                <div class="row">{{ item.format }}</div>
                <div class="row">£{{ item.price }}</div>
                <div class="row"><a href="/basket/remove/{{ key }}"><i class="fa fa-minus-square"></i></a></div>            
            </div>
        {% endfor %}

        {% if error %}
        <span class="errorbasket">Product cannot be added</span>
        {% endif %}
        
        <a href="/buy"><button align="left" class="shopping">Continue Shopping</button></a> 
        
        <button align="right" class="proceed">Proceed to Payment</button>
{% endblock %}

            {# <a href="/">
                <img src="/images/Logo.png">
            </a> #}