{% extends "partials/base.html.twig" %}
{% block title %}Basket{% endblock %}

{% block content %}

<table class="thead" width="100%">
    <tr>
        <th>Title</th>
        <th>BPM</th>
        <th>Format</th>
        <th>Price</th>
    </tr>
        
    <tr>
        <td>Monsters</td>
        <td>140</td>
        <td>.WAV</td>
        <td>£1.50</td>
    <tr>


    <button class="proceed">Proceed to payment</button>

</table>

{% endblock %}
