{% extends "partials/base.html.twig" %}
{% block title %}Buy{% endblock %}

{% block content %}

<div>
    {% for product in products %}
        <h2>{{ product.trackname }}</h2>
    {% endfor %}
</div>

{% endblock %}


{# product(db).trackname(row) #}
{# To do: Create a table using css grids  #}
