{% extends "partials/base.html.twig" %}
{% block title %}charge{% endblock %}

{% block content %}

<h2> Your payment of £{{ session.basketTotal }} was successful! Thank you for your purchase.</h2>
<h2> Click the download icon to receive the fire!<h2>
<i class="fa fa-download"></i>

{% endblock %}