{% extends "partials/base.html.twig" %}
{% block title %}Exclusives{% endblock %}

{% block content %}

<script type="text/javascript" src="/js/playpause.js" defer></script>

<div class="wrappercontainer">
		<div class="wrapper" id="dubstep">
			<h3>Godzilla</h3>
			<audio class="myTrack">
				<source src="./audio/Godzilla.mp3" type="audio/mp3" />
				<source src="./audio/Godzilla.ogg" type="audio/ogg" />
			</audio>

			<div id="buttons">
				<button type="button" class="playButton"></button>
			</div>

			<div id="timebox">
				<span id="current">00:00</span>
						<div id="defaultBar"><div id="progressBar"></div>
					</div>
				<span id="duration">00:00</span>
			</div>
		</div>
</div>

{% endblock %}