{% extends "partials/base.html.twig" %}
{% block title %}Login{% endblock %}


{% block content %}
<!-- checking info has been added -->
<script type="text/javascript" src="/js/signup.js"></script>

<div class="login" align="center">
<form action="/login" method="post" onsubmit="return check_info()" novalidate>
    <ul>
        <li>
            <label>
            <b>Username</b>
            <input type="text" placeholder="Enter Username" name="username" required id="username">
            </label>
        </li>

        <li>
            <label>
            <b>Password</b>
            <input type="password" placeholder="Enter Password" name="password" required id="password">
            </label>
        </li>

        <li>
            <input type="checkbox" checked="checked"> Remember me
        </li>

        <li>        
            <button type="submit" name"submit" value="Login!">Login</button>
        </li>

        <li>
            <span class="error"></span>
        </li>

        {% if error %}
        <li>
        <span class="error">Username or password incorrect</span>
        </li>
        {% endif %}
    </ul>
    <script type="text/javascript" src="/js/login.js"></script>
</form>

</div>
{% endblock %}