{% extends "partials/base.html.twig" %}
{% block title %}SignUp{% endblock %}

{% block content %}
    
    {% if completed %}
        <h1>Thanks for signing up</h1>
        <a href="/login">Click here to login</a>
    {% else %}
            <div class="signup">
    <form action="/signup" method="post">
        <ul>
            <li>
                <label>
                    <b>Username</b>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </label>
            </li>

            <li>
                <label>
                    <b>Email</b>
                    <input type="email" placeholder="Email Address" name="email" required>
                </label>    
            </li>

            <li>
                <label>
                    <b>Password</b>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </label>
            </li>

            <li>
                <label>
                    <b>Confirm password</b>
                    <input type="password" placeholder="Retype Password" name="password-check" required>
                </label>    
            </li>
            
            <li>
                    <button type="submit">Signup</button>
            </li>
        </ul>
    </form>
    </div>
    {% endif %}

{% endblock %}
