<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>

    <header>
        <div class="logo">
            <a href="/">
                <img src="./images/Logo.png">
            </a>
        </div>

        <div class="nav">
            <a href="./exclusives">Exclusives</a>

            <a href="./buy">Buy Tracks</a>

            <a href="./contact">Contact</a>

            <a href="./about">About</a>

{% if session.loggedin %}
            
            <a href="./account">{{ session.username }}</a>

            <a href="/logout">Log out</a>

{% else %}
            <a href="./signup">Sign up</a>

            <a href="./login">Login</a>
{% endif %}
        </div>
    </header>

{% block content %}{% endblock %}
    <footer>
            <div class="socialmedia">
            <a href="https://www.facebook.com/AntiVibesOfficial/" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="https://soundcloud.com/anti-vibes" target="_blank">
                <i class="fa fa-soundcloud" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/jubbydub" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://www.snapchat.com/add/jubbadiah" target="_blank">
                <i class="fa fa-snapchat" aria-hidden="true"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCeBtFr6CwFgtW4ySPKAZi0Q" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </div>
</body>
</html>